<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- =======================
Header START -->
<header class="navbar-light navbar-sticky">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand" href="index.html">
                <!-- Logo SVG Code -->

                <img src="assets/images/logo/LogoTest.png" height="44" width="197" alt=""/></a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
            </button>

            <!-- Main Menu START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">

                    <!-- Menu item 1 Demos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Services</a>
                        <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu">
                            <div class="d-block d-sm-flex">
                                <ul class="list-unstyled w-100 pe-0 pe-lg-5">
                                    <li class="dropdown-header">Services</li>
                                    <li><a class="dropdown-item" href="xservicecio.html">Virtual CIO/CTO</a></li>
                                    <li><a class="dropdown-item" href="xservicecs.html">Cybersecurity</a></li>
<!--                                    <li><a class="dropdown-item" href="xservicehro.html">Custom Software Development</a></li>-->
<!--                                    <li><a class="dropdown-item" href="xservicecm.html">Change Management</a></li>-->
                                    <li><a class="dropdown-item" href="xservicedb.html">Database Management</a></li>
                                    <li><a class="dropdown-item" href="xserviceai.html">Artificial Intelligence</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!--                    <li class="nav-item dropdown">-->
                    <!--                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown"-->
                    <!--                           aria-haspopup="true" aria-expanded="false">Industries</a>-->
                    <!--                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">-->
                    <!--                            <li class="dropdown-header">Industries</li>-->
                    <!--                            <li><a class="dropdown-item" href="xindustryhc.html">Health Care</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="xindustryvet.html">Veterinary</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="xindustryems.html">Emergency Medical Services</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="xindustryair.html">Air Ambulance Services</a></li>-->
                    <!--                            <li><a class="dropdown-item" href="xindustryocc.html">Operations Control Centres</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->
                    <li class="nav-item"><a class="nav-link" href="xabout.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="xcontact.html">Contact</a></li>
                </ul>
            </div>
            <!-- Main Menu END -->
            <!-- Nav right START -->
            <div class="d-none d-xl-block">
                <ul class="list-unstyled d-flex justify-content-center h4 pt-2">
                    <li><a class="text-linkedin mx-2" href="https://www.linkedin.com/company/xstrat"><i
                            class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Nav right END -->

        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Inner intro START -->
<section>
	<div class="container">
		<div class="row d-flex justify-content-lg-between">
			<!-- Inner intro title -->
			<div class="col-lg-7 mx-auto mb-8 text-center">
				<div class="position-relative">
					<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
					  <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none"/>
					  <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
					</svg>
				</div>
				<h1 class="display-5">Thank you!</h1>
				<p class="lead">We appreciate that you’ve taken the time to write us. We’ll get back to you very soon. Please come back and see us often.</p>
				<a href="index.html" class="btn btn-line btn-primary mt-3">Back to home</a>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Inner intro END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-secondary footer-sticky pt-6">
    <div class="container">
        <div class="row">

            <!-- Footer Widget 1 -->
            <div class="col-md-6 col-lg-3 mb-5">
                <h3 class="text-white">xstrat inc<span class="text-primary">.</span></h3>
                <p class="text-primary">powered by lots of coffee</p>
            </div>

            <!-- Footer Widget 2 -->
            <div class="col-md-6 col-lg-3 mb-5">
                <h5 class="mb-4 text-white">Our offices</h5>
                <!-- Address 1 -->
                <p class="text-white mb-2">Beamsville Ontario, Canada</p>
                <p class="text-primary"><u>905-378-3391</u></p>
            </div>

        </div>
        <!-- Divider -->
        <div class="divider-light opacity-1"></div>
        <div class="row py-5">
            <div class="flex-column flex-lg-row d-flex justify-content-center justify-content-lg-between align-items-lg-center w-100 text-white text-primary-hover">

                <!-- Social icons -->
                <ul class="list-unstyled lead d-flex justify-content-center">
                    <!--					<li> <a class="pe-2 me-2 text-primary-hover" href="#"><i class="fab fa-instagram"></i></a> </li>-->
                    <!--					<li> <a class="px-2 me-2 text-primary-hover" href="#"><i class="fab fa-facebook-f"></i></a> </li>-->
                    <li><a class="px-2 me-2 text-primary-hover" href="https://twitter.com/IncXstrat"><i
                            class="fab fa-twitter"></i></a></li>
                    <li><a class="ps-2 me-2 text-primary-hover" href="https://www.linkedin.com/company/xstrat"><i
                            class="fab fa-linkedin"></i></a></li>
                </ul>

                <!-- Footer Link Nav -->
                <ul class="nav justify-content-center mt-3 m-lg-0">
                    <li class="nav-item"><a class="nav-link text-white" href="xabout.html">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="xcontact.html">Contact</a></li>
                </ul>

                <!-- Footer Copyright -->
                <div class="d-flex justify-content-center mt-3 mb-0 m-lg-0">©2021&nbsp;<a
                        href="https://www.xstrat.ca/" class="text-white" target="_blank">xstrat inc</a>. All rights
                    reserved
                </div>

            </div>

        </div>
    </div>
</footer>    <!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/ityped/index.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>